transformers[torch,sentencepiece]
jupyter 
ipywidgets
matplotlib>=3.6.0
huggingface_hub
scipy<2.0.0,>=1.10.0
haystack-ai
weaviate-haystack
trafilatura
sentence-transformers>=3.0.0
openpyxl
arize-phoenix==6.0.0 
openinference-instrumentation-haystack==0.1.13 
httpx<0.28
arize-phoenix-otel
openinference-instrumentation-haystack
openai 
duckduckgo-api-haystack
mongodb-atlas-haystack 
tiktoken 
datasets 
colorama